.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    position: relative;
    background-color: #073042;
    min-width: 320px;
    padding: 0 70px;
    /* margin: 0 auto; */

}

@media screen and (max-width: 768px) {
    .promo {
        padding: 0 50px;
    }
}

@media screen and (max-width: 320px) {
    .promo {
        padding: 0 18px;
    }
}

.promo__logo {
    width: 320px;
    height: 320px;
    position: relative;
    margin: 86px auto 118px auto;
}

@media screen and (max-width: 768px) {
    .promo__logo {
        width: 320px;
        height: 320px;
        margin: 224px auto 240px auto;
    }
}

@media screen and (max-width: 540px) {
    .promo__logo {
        width: 248px;
        height: 248px;
        margin: 224px auto 240px auto;
    }
}

@media screen and (max-width: 320px) {
    .promo__logo {
        width: 248px;
        height: 248px;
        margin: 142px auto 180px auto;
    }
}

.promo__header {
    position: absolute;
    max-width: 730px;
    max-height: 116px;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .promo__header {
        max-width: 300px;
        max-height: 117px;
        font-size: 31px;
        line-height: 39px;
    }
}

@media screen and (max-width: 320px) {
    .promo__header {
        font-size: 31px;
        line-height: 39px;
    }
}