.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found-page__title {
    margin-top: 246px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .not-found-page__title {
        font-size: 80px;
        line-height: 96px;
    }
}

.not-found-page__para {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .not-found-page__para {
        font-size: 12px;
        line-height: 14px;
    }
}

.not-found-page__back-page {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #4285F4;
    background-color: transparent;
    border: none;
    margin-top: 184px;
    transition: opacity 0.3s ease-in-out;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .not-found-page__back-page {
        font-size: 12px;
        line-height: 14px;
    }
}

.not-found-page__back-page:hover {
    opacity: 0.6;
}