.about-me__container {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 648px) {
    .about-me__container {
        
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 60px;
    }
}

@media screen and (max-width: 648px) {
    .about-me__container {
        
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 0;
    }
}

.about-me__header {
margin-top: 66px;

font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 58px;
letter-spacing: -0.04em;
text-align: left;
}

@media screen and (max-width: 320px) {
    .about-me__header {
        font-size: 30px;
        line-height: 36px;
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 40px;
    }
}


.about-me__para {
    margin: 18px 0 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 40px;
}

@media screen and (max-width: 648px) {
    .about-me__para {
        font-size: 11px;
        line-height: 16px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 320px) {
    .about-me__para {
        margin: 20px 0 0 0;
        font-size: 11px;
        line-height: 16px;
    }
}


.about-me__para-2 {
    max-width: 600px;
    margin: 26px 0 0 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    .about-me__para-2 {
        max-width: 364px;
        margin-right: 30px;
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .about-me__para-2 {
        margin: 20px 0 0 0;
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
    }
}


.about-me__photo {
    margin-top: 66px;
    width: 270px;
    height: 327px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .about-me__photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 320px) {
    .about-me__photo {
        margin-top: 60px;
        width: 292px;
        height: 352px;
    }
}

.about-me__list {
    margin: 99px 0 0 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .about-me__list {
        margin: 40px 0 0 0;
    }
}

.about-me__link {
    margin-right: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

.about-me__link:hover {
    opacity: 0.6;
}
