.techs__header {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 90px 0 0 0;
}

@media screen and (max-width: 648px) {
    .techs__header {
        font-size: 30px;
        line-height: 36px;
    }
}


.techs__para {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 26px 0 0 0;
}

@media screen and (max-width: 768px) {
    .techs__para {
        font-size: 12px;
        line-height: 18px;
        margin: 22px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .techs__para {
        font-size: 11px;
        line-height: 16px;
        margin: 24px 0 0 0;
    }
}

.techs__list {
    list-style-type: none;
    padding: 0;
    margin: 100px 0 0 0;
    width: 100%;
    justify-content: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
}

@media screen and (max-width: 768px) {
    .techs__list {
        margin: 83px 0;
    }
}

@media screen and (max-width: 648px) {
    .techs__list {
        margin: 50px 0;
    }
}

.techs__item {
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    border-radius: 10px;
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: center;

}

@media screen and (max-width: 648px) {
    .techs__item {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
    }
}
